/* Color ref
*  https://coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654
*/

.site-header {
    align-items: center;
    /* http://www.heropatterns.com/ */
    background-color: #f3ffbd;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='40' height='40' viewBox='0 0 40 40'%3E%3Cg fill-rule='evenodd'%3E%3Cg fill='%23ff4073' fill-opacity='0.07'%3E%3Cpath d='M0 38.59l2.83-2.83 1.41 1.41L1.41 40H0v-1.41zM0 1.4l2.83 2.83 1.41-1.41L1.41 0H0v1.41zM38.59 40l-2.83-2.83 1.41-1.41L40 38.59V40h-1.41zM40 1.41l-2.83 2.83-1.41-1.41L38.59 0H40v1.41zM20 18.6l2.83-2.83 1.41 1.41L21.41 20l2.83 2.83-1.41 1.41L20 21.41l-2.83 2.83-1.41-1.41L18.59 20l-2.83-2.83 1.41-1.41L20 18.59z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
    color: #ff4073;
    display: flex;
    flex-direction: row;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.1em;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.site-header h1 {
    align-self: center;
    padding: 0;
    margin: auto;
}

.menu-toggle-btn {
    background-color: transparent;
    border: none; 
    cursor: pointer;
    color: #ff4073;
    margin: 0 0 0 1em;
}

.menu-toggle-btn:hover {
    color: #247ba0;
}

.menu-icon {
    height: 42px;
    margin: 0;
    padding: 0;
    width: 42px;
}

.menu-icon:hover {
    color: #247ba0;
}

@media screen and (max-width: 550px) {
    .site-header h1 {
        font-size: 1.4em;
    }

    .menu-icon {
        width: 28px;
        height: 28px;
    }
}

@media screen and (max-width: 380px) {
    .site-header h1 {
        font-size: 1em;
    }

    .menu-icon {
        font-size: 1em;
        margin: .6em 0 0;
    }
}