/* Color ref
*  https://coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654
*/

.site-header {
    align-items: center;
    background-color: #f3ffbd;
    color: #ff4073;
    display: flex;
    flex-direction: row;
    font-family: 'Gloria Hallelujah', cursive;
    font-size: 1.1em;
    justify-content: center;
    margin: 0;
    padding: 0;
    text-align: center;
    width: 100%;
}

.site-header h1 {
    flex: 5;
    margin: 0 0 0 -1em;
    padding: 0;
}

.menu-icon-container {
    flex: 0;
    padding: 0 0 0 1em;
    z-index: 4;
}

.menu-icon {
    cursor: pointer;
    height: 42px;
    padding: 0;
    width: 42px;
}

.menu-icon:hover {
    color: #247ba0;
}