.map-container {
    display: flex;
    flex-direction: row;
    max-height: 90vh;
}

.address {
    font-weight: bold;
}

.content {
    font-size: 16px;
}

.gm-style-iw {
    h2 {
        color: #ff4073;
        font-family: 'Gloria Hallelujah', cursive;
    }

    p {
        font-family: 'Caveat Brush', cursive;
        font-size: 18px;
    }

    a {
        font-size: 16px;
        color: #247ba0;
    }
}