.menu-drawer {
    display: flex;
    flex-direction: column;
    height: 100%;
    color: white;
    background-color: black;
    position: fixed;
    left: 0;
    top: 3em;
    z-index: 10;
    overflow: scroll;
}

#points-filter {
    border-radius: 0;
    border: 2px solid white;
    width: 90%;
    margin: 1em auto 0;
}

.menu-drawer ul {
    list-style: none;
    text-align: left;
    margin: 1em;
    padding: 0;
}

ul li {
    padding: .4em 0;
}

ul li:hover {
    color: lightblue;
    text-decoration: underline;
    cursor: pointer;
}