/* Color ref
*  https://coolors.co/247ba0-70c1b3-b2dbbf-f3ffbd-ff1654
*/

.menu-drawer {
    background-color: #f3ffbd;
    display: flex;
    flex-direction: column;
    width: 25%;
    max-width: 25%;
    overflow: scroll;
}

#points-filter {
    border-radius: 5px;
    border: none;
    color: #247ba0;
    margin: 1em auto 0;
    padding: .5em;
    width: 90%;
    font-family: 'Shadows Into Light Two', cursive;
}

.menu-drawer ul {
    list-style: none;
    margin: 0 1em;
    padding: 0;
    text-align: left;
}

.foursquare-img {
    margin: 0;
    padding: 0;
    max-width: 90%;
}

ul li {
    color: #ff4073;
    font-family: 'Shadows Into Light Two', cursive;
    font-size: 1.2em;
    font-weight: bold;
    padding: .4em 0;
}

ul li:before {
    content: '> ';
    font-size: 12px;
}

ul li:hover {
    color: #247ba0;
    cursor: pointer;
    text-decoration: underline;
}